# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=M9nR1vF6tPX7aQ3sL8zWy2dE0oU5rBcH4kJ1mV9qT7pW2fR3nXzC6bS0lI8yG1eD4vU9aR0k

# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password
mongo_api_url=mongodb+srv://adminpiexchange:Piexchange@cluster0.ge0yg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# Frontend app URL
FRONTEND_URL=http://localhost:3314
